# Ignore everything by default
**
**/*

# Re-include directories that contain code
!cmd/
!api/
!internal/
!pkg/
!internal/

# Re-include Go source and module files
!*.go
!**/*.go
!go.mod
!go.sum

# Ignore test files
**/*_test.go